html,
body {
    height: 100%;
    background-color: #dfc999;
}

h3 {
	color: #76323f;
}

@media (min-width: 992px) {
	.masthead,
	.mastfoot,
	.cover-container {
        width: 900px;
	}
}

.inner {
	padding: 0;
}

#map-container {
    width:100%;
    height:500px;
}

#map-frame {
	width:100%;
	height:100%;
}