/* For maps to render with a width > 0, always explicitly set the dimensions of the map element, body, and html! */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
  
#map {
    height: 100%;
    width: 100%;
}

.lagalag-infowindow {
    font-size: 16px;
    font-family: Helvetica;
    padding: 5px;
}

.lagalag-infowindow .placename {
    padding-bottom: 5px;
}

.lagalag-infowindow ul {
    list-style: none;
    margin: 0px;
    padding: 2px;
}

.lagalag-infowindow ul li {
    padding: 2px 0;
    width: 235px;
}

/* "Fancy checkbox" css c/o this guy: https://codingwithspike.wordpress.com/2014/11/16/fancy-css-checkboxes-with-fontawesome/ */
.fancy-checkbox input[type="checkbox"] {
    display: none;
}

.fancy-checkbox span {
	font-size: 18px;
    cursor: pointer;
    font-weight: 200;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Make the text bold when the user checks the corresponding checkbox */
.fancy-checkbox input[type="checkbox"]:checked ~ span {
    font-weight: 700;
}

.fancy-checkbox span::before {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    width: 1em;
    height: 1em;
    font-weight: 400;
    margin-right: .6em;
}

.fancy-checkbox input[type="checkbox"]:checked ~ span::before {
	font-weight: 900;
}

.fancy-checkbox span.yes-loved-it::before {
    content: '\f004';   /* heart */
    color: red;
}

.fancy-checkbox span.yes-meh::before {
    content: '\f11a';    /* meh (emoji) */
    color: orange;
}

.fancy-checkbox span.yes-hated-it::before {
    content: '\f165';   /* thumbs-down */
}

.fancy-checkbox span.no-wanna-go::before {
    content: '\f02e';   /* bookmark */
    color: green;
    margin-left: .1em;
    margin-right: .8em;
}

.fancy-checkbox span.not-interested::before {
    content: '\f057';   /* times circle (x) */
    color: red;
}
