<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>lagalag</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	    <!-- Bootstrap core CSS -->
	    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/{version}/css/bootstrap.min.css(version=${bootstrapVersion})}">
	    <!-- "Cover" bootstrap template -->
	    <link rel="stylesheet" type="text/css" href="res/css/cover-white.css">
	    <!-- Our styles -->
	    <link rel="stylesheet" type="text/css" href="res/css/lagalag.css">
	
	    <!-- jquery library -->
	    <script type="text/javascript" th:src="@{webjars/jquery/{version}/jquery.min.js(version=${jqueryVersion})}" defer></script>
	    <!-- Bootstrap core JavaScript -->
	    <script type="text/javascript" th:src="@{webjars/bootstrap/{version}/js/bootstrap.min.js(version=${bootstrapVersion})}" defer></script>
	</head>
	<body>
	    <div class="site-wrapper">
	        <div class="site-wrapper-inner">
	            <div class="cover-container">
	                <div class="masthead clearfix">
	                    <div class="inner">
	                        <h3 class="masthead-brand">lagalag</h3>
	                        <nav>
	                        </nav>
	                    </div>
	                </div>
	
		            <div id="map-container" class="inner cover">
		                <iframe id="map-frame" src="/map"></iframe>          
		            </div>
	
		            <div class="mastfoot">
		                <div class="inner">
		                   <p>lagalag.com &copy; 2018-2019</p>
		               </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>
</html>